/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Color variables */
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  font-size: 10px;
  /* height: 100%; */
  /*   height: 100vh;
  overflow: auto; */
}
/* html {
  height: contain;
} */
body {
  font-size: 1.5rem;
  color: white;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
  font-weight: normal;
}
/* Utility Classes */
.container {
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;
}
@media only screen and (min-width: 580px) {
    .container {
      max-width: 1100px;
      padding: 0 10px;
    }
  }
.bg-img {
  background: url("../../assets/images/showcase4.jpeg") no-repeat center center/cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*   height: 40%;
  overflow: auto; */
}
.bg-img2 {
  background: url("../../assets/images/showcase4.jpeg") no-repeat center center/cover;
}
.fade-bg-img {
  background-color: rgba(0, 0, 0, 0.55);
  /* height: 100%; */
}
.heading {
  font-size: 2rem;
}
@media only screen and (min-width: 720px) {
    .heading {
      font-size: 4.2rem;
      line-height: 5rem;
      font-size: 800;
    }
  }
/* Titles */
.heading_2 {
  font-size: 3.2rem;
  line-height: 5rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.btn {
  margin-top: 10px;

  background: #13e247;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.order_now {
  width: 100%;
  background: #13e247;
  padding: 0.5rem;
}
/* Navbar */
.navbar {
  overflow: auto;
  border-bottom: 0.5rem solid #13e247;
}
/* Navbar links */
.navbar a {
    color: white;
    background: none;
  }
.navbar .logo {
    padding-top: 0.5rem;
    font-size: 2.5rem;
    display: inline-block;
  }
.navbar .logo a {
      border-radius: 1rem;
    }
@media only screen and (min-width: 720px) {
       .navbar .logo {
        font-size: 3.5rem;
        float: left;
        text-align: left;
        display: block;
      }
    }
.navbar ul {
    list-style: none;
    display: none;
    width: 100%;
  }
@media only screen and (min-width: 720px) {
       .navbar ul {
        float: right;
        display: block;
      }
      .navbar ul li {
        float: left;
      }
      .navbar ul .logout {
        float: right;
      }
      .navbar ul .pull_right {
        float: right;
      }
    }
.navbar ul li {
      display: block;
      padding: 5px;
    }
.navbar ul li a {
        display: block;
        padding: 0.4rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
      }
.navbar ul li a:hover,
      .navbar ul li .active {
        /*  background: $fineGreen; */
        border: 1px solid #13e247;
      }
/* Hamburger menu */
.navbar .hb_container {
    display: none;
    float: right;
    background: #13e247;
    margin-top: 0.5rem;
  }
@media only screen and (max-width: 719px) {
      .navbar .hb_container {
        display: block;
      }
    }
.navbar .hb_container .hamburger_menu {
      padding: 1rem;
      cursor: pointer;
    }
.navbar-offbg-color {
  background: none;
}
#hero {
  overflow: visible;
  padding-bottom: 1rem;
  height: 100%;
}
@media only screen and (min-width: 700px) {
.hero-content {
    padding-top: 4rem
}
  }
.hero-content .lead-block {
    display: none;
  }
@media only screen and (min-width: 700px) {
       .hero-content .lead-block {
        display: block;
        float: left;
        width: 60%;
      }
    }
@media only screen and (min-width: 700px) {
         .hero-content .lead-block .lead {
          font-size: 1.5rem;
          padding-left: 1.5rem;
          padding-top: 0.5rem;
          font-weight: 600;
          line-height: 3.5rem;
          display: block;
        }
      }
.hero-content .card {
  width: 95%;
  margin: 0px auto;
  padding: 1rem;
  font-weight: 250;
  margin-top: 10px;
}
@media only screen and (min-width: 700px) {
    .hero-content .card {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      float: right;
      width: 35%;
      max-width: 30rem;
      margin-top: 0px;
      font-weight: 500;
    }
  }
.hero-content .card h2 {
    font-size: 2rem;
  }
@media only screen and (min-width: 700px) {
      .hero-content .card h2 {
        font-size: 3rem;
        line-height: 5rem;
      }
    }
.hero-content .card input {
    width: 100%;
    height: 3rem;
  }
.hero-content .card input[type="radio"] {
    height: 1.3rem;
    width: 1.3rem;
    margin: 0.5rem 0.7rem 1.5rem 0.7rem;
  }
.hero-content .card .register {
    text-align: center;
  }
.hero-content .card .register a {
      display: block;
      margin-top: 5px;
      font-style: italic;
      font-weight: bold;
      font-size: 1.5rem;
      text-decoration: underline;
    }
table {
  width: 100%;
  text-align: left;
}
table .hide_column {
    display: none;
  }
table thead {
    background: #13e247;
    color: #fff;
  }
table td {
    border-bottom: 1px solid #3b8ea5;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    height: 2rem;
  }
/* Tablets and desktops */
@media only screen and (min-width: 700px) {
    table td,
    table th {
      font-size: 1.5rem;
    }
    table .hide_column {
      display: table-cell;
    }

      table .hide_column img {
        height: 8rem;
        width: 8rem;
      }
    table td {
      height: 8rem;
    }
  }
/* Last row : show only 'total' and 'value' */
tbody .last-row {
  border-bottom: 0px;
  font-weight: bold;
}
tbody .last-row .first-child {
  text-align: right;
}
tbody .last-row .first-child-pull-left {
  text-align: left;
}
/* Orders table */
.orders_table td {
    height: 2rem;
  }
/* Shopping cart table */
.cart_table {
  width: 100%;
}
.cart_table td {
    text-align: left;
    line-height: 1.5rem;
  }
.cart_table th {
    background: white;
    color: #05386b;
  }
@media only screen and (min-width: 750px) {
.cart_table {
    width: 80%
}

    .cart_table th,
    .cart_table td {
      padding: 5px;
    }
  }
.cart_table input[type="number"] {
    width: 4.5rem;
  }
.cart_table img {
    height: 8rem;
    width: 8rem;
  }
.cart_table .last-row-1 td {
      border-bottom: none;
      height: 1rem;
      font-weight: 1000;
    }
.cart_table .last-row-1 .total {
      text-align: right;
    }
.cart_table .last-row td {
      border-bottom: none;
      height: 0rem;
    }
.cart_table .last-row .btn {
      background: white;
      color: #05386b;
      padding: 5px;
    }
@media only screen and (min-width: 750px) {
      .cart_table .last-row .btn {
      }
    }
.last-row td {
}
/* to be used later for mobile display */
/* table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 310px;
}
table td {
  border: solid 1px #fab;
  width: 150px;
  word-wrap: break-word;
} */
.row {
  /* border-bottom: 2px dotted black; */
  /*   border: 2px dotted black; */
  display: inline-block;
  margin: 0px auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* 
.center_row_contents {
    background: blue;
    display: inline-block;
    margin: 0px auto;
} */
.meal {
  float: left;
  width: 20rem;
  text-align: center;
  padding: 5px;
  /*  border: 1px dotted blue; */
}
/* @media only screen and (min-width: 800px) {
    } */
.meal img {
    width: 95%;
  }
.subscribe {
  /* border: 1px solid darkcyan; */
  margin-top: 5rem;
  text-align: center;
  padding: 20px 0px;
}
/*   border: 1px solid $fineGreen; */
.subscribe .form-group {
    display: inline-block;
    width: 33%;
  }
.subscribe .form-group input {
      width: 100%;
      height: 4rem;
    }
.subscribe .form-group .btn-subscribe {
    }
.HIWorks {
  text-align: center;
}
.footer {
  border-top: 5px solid #13e247;
  margin-top: 2rem;
  /*position: fixed;*/
}
/*bottom: 0px;*/
.footer * {
    margin: 0px;
    padding: 0px;
  }
/*width: 100%;*/
.footer .ft-item-div {
    text-align: center;
  }
