/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color variables */
$navyBlue: #25274d;
$lightBlue: #2e9cca;
$customGrey: #aaabb8;

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  font-size: 10px;
}
body {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  font-weight: normal;
}

/* Utility Classes */
.container {
  margin: auto;
  width: 100%;
  overflow: auto;
  padding: 0 10px;

  @media only screen and (min-width: 580px) {
    & {
      max-width: 1100px;
      padding: 0 10px;
    }
  }
}

.container_with_bg-img {
  background: linear-gradient(0deg, rgba(119, 50, 88, 0.3), rgba(142, 103, 233, 0.3)),
    url("../../assets/images/showcase.jpeg") no-repeat center center/cover;
}

.heading {
  font-size: 2rem;
  @media only screen and (min-width: 720px) {
    & {
      font-size: 2.2rem;
      line-height: 5rem;
    }
  }
}

/* Hamburger menu */
.hb_container {
  display: none;
  float: right;
  background: white;
  margin-top: 0.5rem;
  @media only screen and (max-width: 719px) {
    & {
      display: block;
    }
  }

  .hamburger_menu {
    padding: 1rem;
    cursor: pointer;
  }
}

/* 
.btn {
  text-align: center;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1.6rem;
  background: none;
  border-style: none;
  border: 0.1rem solid #fff;
  display: block;
}

.form_container {
  border: 1px solid #3b8ea5;
  overflow: auto;

  & div {
    float: left;
  }
  & label,
  & input {
    display: inline-block;
    font-size: 2rem;
  }
}
 */
