/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color variables */
$navyBlue: #05386b;
$fineGreen: #13e247;

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  font-size: 10px;
}
body {
  font-size: 1.5rem;
  color: $navyBlue;
}
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  font-weight: normal;
}
