.row {
  /* border-bottom: 2px dotted black; */
  /*   border: 2px dotted black; */
  display: inline-block;
  margin: 0px auto;
}
.breakfast,
.lunch,
.dinner {
  margin-top: 2rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* 
.center_row_contents {
    background: blue;
    display: inline-block;
    margin: 0px auto;
} */
.meal {
  float: left;
  width: 20rem;
  text-align: center;
  padding: 5px;
  /*  border: 1px dotted blue; */

  /* @media only screen and (min-width: 800px) {
    } */

  img {
    width: 95%;
  }
}
