/* Navbar */
.navbar {
  overflow: auto;
  border-bottom: 0.5rem solid $fineGreen;

  /* Navbar links */
  a {
    color: white;
    background: none;
  }

  .logo {
    padding-top: 0.5rem;
    font-size: 2.5rem;
    display: inline-block;

    a {
      border-radius: 1rem;
    }

    @media only screen and (min-width: 720px) {
       {
        font-size: 3.5rem;
        float: left;
        text-align: left;
        display: block;
      }
    }
  }

  ul {
    list-style: none;
    display: none;
    width: 100%;
    @media only screen and (min-width: 720px) {
       {
        float: right;
        display: block;
      }
      li {
        float: left;
      }
      .logout {
        float: right;
      }
      .pull_right {
        float: right;
      }
    }

    & li {
      display: block;
      padding: 5px;

      & a {
        display: block;
        padding: 0.4rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
      }

      & a:hover,
      & .active {
        /*  background: $fineGreen; */
        border: 1px solid $fineGreen;
      }
    }
  }

  /* Hamburger menu */
  .hb_container {
    display: none;
    float: right;
    background: $fineGreen;
    margin-top: 0.5rem;
    @media only screen and (max-width: 719px) {
      & {
        display: block;
      }
    }

    .hamburger_menu {
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.navbar-offbg-color {
  background: none;
}
