table {
  width: 100%;
  text-align: center;

  .hide_column {
    display: none;
  }

  thead {
    background: $lightBlue;
    color: #fff;
  }

  td {
    border-bottom: 1px solid #3b8ea5;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    text-align: center;
    height: 2rem;
  }

  /* Tablets and desktops */
  @media only screen and (min-width: 700px) {
    td,
    th {
      font-size: 1.5rem;
    }
    .hide_column {
      display: table-cell;

      img {
        height: 8rem;
        width: 8rem;
      }
    }
    td {
      height: 8rem;
    }
  }
}

.orders_table {
  td {
    height: 2rem;
  }

  tbody tr:last-child td {
    border-bottom: 0px;
    font-weight: bold;
  }
  tbody tr:last-child td:first-child {
    text-align: right;
  }
}
