table {
  width: 100%;
  text-align: center;

  .hide_column {
    display: none;
  }

  thead {
    background: $fineGreen;
    color: #fff;
  }

  td {
    border-bottom: 1px solid #3b8ea5;
    padding: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    height: 2rem;
  }

  /* Tablets and desktops */
  @media only screen and (min-width: 700px) {
    td,
    th {
      font-size: 1.5rem;
    }
    .hide_column {
      display: table-cell;

      img {
        height: 8rem;
        width: 8rem;
      }
    }
    td {
      height: 8rem;
    }
  }
}

/* Last row : show only 'total' and 'value' */
tbody .last-row {
  border-bottom: 0px;
  font-weight: bold;
}
tbody .last-row .first-child {
  text-align: right;
}
tbody .last-row .first-child-pull-left {
  text-align: left;
}

/* Orders table */
.orders_table {
  td {
    height: 2rem;
  }
}

/* Shopping cart table */
.cart_table {
  width: 100%;
  td {
    text-align: left;
    line-height: 1.5rem;
  }
  th {
    background: white;
    color: $navyBlue;
  }
  @media only screen and (min-width: 750px) {
    width: 80%;

    th,
    td {
      padding: 5px;
    }
  }

  input[type="number"] {
    width: 4.5rem;
  }
  img {
    height: 8rem;
    width: 8rem;
  }

  .last-row-1 {
    td {
      border-bottom: none;
      height: 1rem;
      font-weight: 1000;
    }
    .total {
      text-align: right;
    }
  }
  .last-row {
    td {
      border-bottom: none;
      height: 0rem;
    }
    .btn {
      background: white;
      color: $navyBlue;
      padding: 5px;
    }
    @media only screen and (min-width: 750px) {
      .btn {
      }
    }
  }
}

.last-row td {
}
/* to be used later for mobile display */
/* table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 310px;
}
table td {
  border: solid 1px #fab;
  width: 150px;
  word-wrap: break-word;
} */
