/* Utility Classes */
.container {
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;

  @media only screen and (min-width: 580px) {
    & {
      max-width: 1100px;
      padding: 0 10px;
    }
  }
}

.bg-img {
  background: url("../../assets/images/showcase4.jpeg") no-repeat center center/cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*   height: 40%;
  overflow: auto; */
}

.bg-img2 {
  background: url("../../assets/images/showcase4.jpeg") no-repeat center center/cover;
}

.fade-bg-img {
  background-color: rgba(0, 0, 0, 0.55);
  /* height: 100%; */
}

.heading {
  font-size: 2rem;
  @media only screen and (min-width: 720px) {
    & {
      font-size: 4.2rem;
      line-height: 5rem;
      font-size: 800;
    }
  }
}

/* Titles */
.heading_2 {
  font-size: 3.2rem;
  line-height: 5rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 10px;

  background: $fineGreen;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.order_now {
  width: 100%;
  background: $fineGreen;
  padding: 0.5rem;
}
