/* Utility Classes */
.container {
  margin: auto;
  width: 100%;
  overflow: auto;
  padding: 10px 10px;

  @media only screen and (min-width: 580px) {
    & {
      max-width: 1100px;
      padding: 0 10px;
    }
  }
}

.bg-img {
  /* background: linear-gradient(0deg, rgba(119, 50, 88, 0.3), rgba(142, 103, 233, 0.3)),
      url("../../assets/images/showcase.jpeg") no-repeat center center/cover; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: url("../../assets/images/showcase.jpeg") no-repeat center center/cover;
}

.heading {
  font-size: 2rem;
  @media only screen and (min-width: 720px) {
    & {
      font-size: 4.2rem;
      line-height: 5rem;
      font-size: 800;
    }
  }
}

/* Titles */
.heading_2 {
  font-size: 3.2rem;
  line-height: 5rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Hamburger menu */
.hb_container {
  display: none;
  float: right;
  background: white;
  margin-top: 0.5rem;
  @media only screen and (max-width: 719px) {
    & {
      display: block;
    }
  }

  .hamburger_menu {
    padding: 1rem;
    cursor: pointer;
  }
}

.btn {
  margin-top: 10px;
}
.order_now {
  width: 100%;
  background: $fineGreen;
  padding: 0.5rem;
}
